@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F9F9F9;
    padding: 90px 0;
}

.calculator {
    width: 400px;
    margin: 0 auto;
    background-color: #2b7a43;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px black;
}

.display{
    /* display: flex; */
    justify-content: flex-end;
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgb(10, 59, 21);
    color: white;
    font: normal 3rem serif;
    overflow: hidden;
    border-radius: 5px;
    box-shadow:  2px 2px 0px rgb(28, 136, 24);
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
}

#historic {
    height: 20px;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    text-align: right;
    font-size: 1rem;
    margin-bottom: 10px;
}

#contaAtual{
    height: 70px;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    text-align: right;
}

.calculator-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

.calculator button{
    background-color: rgb(7, 53, 17);
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(2, 58, 14);
    box-shadow:  2px 2px 0px rgb(28, 136, 24);
    transition: 0.4s;
}

button:hover{
    transition: 0.4s;
    background-color: #e4e4e4;
    color: black;
    box-shadow: inset 2px 2px 0px #555;
    border: 0;
}

.button-hover{
    transition: 0.4s;
    background-color: #e4e4e4;
    color: black;
    box-shadow: inset 2px 2px 0px #555;
    border: 0;
}

#operadorPorcentagem, 
#operadorMultiplicar, 
#operadorSubtrair, 
#operadorAdicionar, 
#igual, 
#operadorDividir{
    font-family: 'Roboto Mono', monospace !important;
    background-color: rgb(60, 90, 20) !important;
    color: white !important;
    padding: 20px !important;
    border-radius: 5px !important;
    font-size: 1.5rem !important;
    outline: none !important;
    cursor: pointer !important;
    border: 2px solid rgb(2, 58, 14) !important;
    box-shadow:  2px 2px 0px rgb(28, 136, 24) !important;
    transition: 0.4s !important;
}

#operadorPorcentagem:hover, 
#operadorMultiplicar:hover, 
#operadorSubtrair:hover, 
#operadorAdicionar:hover, 
#igual:hover, 
#operadorDividir:hover{
    transition: 0.4s !important;
    background-color: #e4e4e4 !important;
    color: black !important;
    box-shadow: inset 2px 2px 0px #555 !important;
    border: 2px solid rgb(2, 58, 14) !important;
}